* {
    box-sizing: border-box;

}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid seashell;
}

nav {
    display: flex;
    height: 69px;
    align-items: center;
    width: 100%;
    
}

#logo {
    height: 50px;
    margin: 10px;
}

.logo {
    display: inline-flex;
}

.nav-item {
    text-decoration: underline;
    
}

.content {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    
}

span {
    margin-right: 20px;
}


.mission {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading-bg {
    text-align: center;
    
    position: relative;

}

#mission-bg {
    opacity: 0.5;
    max-width: 100%;
    max-height: 100%;

}


.heading {
    width: 100%;
    position: absolute;
    background-color: black;
    text-align: center;
    
}



.inventory-title {
    text-align: center;
    width: 100%;

}

.inventory-grid-container {
    display: flex;
    justify-content: center;
}

.inventory-grid h4 {
    text-align: center;
}



.inventory-grid {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.img-cap {
    justify-content: center;
}

.grid-img {

    max-width: 300px;
    max-height: 200px;
    margin: 10px;
}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#location-bg {
    opacity: 0.5;
    width: 1200px;
    height: 500px;
}

.location-title {
    position: absolute;
    top: 40px;
}

.location-card-grid {
    width: 100%;
    top: 110px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.location-cards {
    background-color: black;
    margin: 20px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    flex-grow: 1;
    
}

.info {
    text-align: center;
    max-height: 200px;
}

.copyright {
    margin-left: 20px;
    text-align: left;
}